<% Current.meta_tags.set(title: t(".title")) %>

<div class="sm:max-w-sm px-4 mx-auto my-10 lg:px-0">
  <h2 class="mb-4 leading-tight h3"><%= t(".resend_confirmation_instructions") %></h2>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "error_messages", resource: resource %>

    <%= render FormFieldComponent.new(
      label: resource.class.human_attribute_name(:email),
      name: "user[email]",
      error: resource.errors[:email].first,
      classes: "mb-6"
    ) do |field| %>
      <% field.with_input do %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), placeholder: true, class: "form-control" %>
      <% end %>
    <% end %>

    <%= render ButtonComponent.new(text: t(".resend_confirmation_instructions"), type: "submit", full_width: true, classes: "mb-4") %>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
