<%- if devise_mapping.omniauthable? && %w{ registrations sessions }.include?(controller_name) %>
  <div class="flex items-center w-full my-4">
    <hr class="w-full grow border-border">
    <span class="mx-6 text-sm text-muted-foreground font-medium"><%= t(".or") %></span>
    <hr class="w-full grow border-border">
  </div>

  <div class="mb-4 grid gap-2">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= button_to t("oauth.sign_in_with", provider: t("oauth.#{provider}")), omniauth_authorize_path(:user, provider), class: "inline-flex w-full items-center justify-center gap-1.5 rounded-[var(--radius)] border border-black/10 bg-white/90 px-3.5 py-2 text-sm font-medium text-neutral-800 shadow-xs transition-all duration-100 ease-in-out hover:bg-muted focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-neutral-600 dark:border-white/10 dark:bg-neutral-700/50 dark:text-neutral-50 dark:hover:bg-neutral-700/75 dark:focus-visible:outline-neutral-200", data: { turbo: false, disable_with: t(".redirecting") } %>
    <% end -%>
  </div>
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != "passwords" && controller_name != "registrations" %>
  <%= link_to t(".forgot_your_password"), new_password_path(resource_name), class: "block mt-2 text-sm text-muted-foreground underline hover:text-foreground" %>
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != "confirmations" %>
  <%= link_to t(".didn_t_receive_confirmation_instructions"), new_confirmation_path(resource_name), class: "block mt-2 text-sm text-muted-foreground underline hover:text-foreground" %>
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != "unlocks" %>
  <%= link_to t(".didn_t_receive_unlock_instructions"), new_unlock_path(resource_name), class: "block mt-2 text-sm text-muted-foreground underline hover:text-foreground" %>
<% end -%>
