<span class="<%= wrapper_classes %>">
  <%= @text %>
  <% if @dot %>
    <div class="<%= dot_classes %>"></div>
  <% end %>
  <% if @removable %>
    <button type="button" class="<%= remove_button_classes %>">
      <%= icon "x", class: icon_size %>
    </button>
  <% end %>
</span>
