<nav class="<%= nav_classes %>" data-controller="navbar">
  <div class="relative">
    <!-- Menu List -->
    <ul data-navbar-target="menu" class="<%= menu_classes %>">
      <% if logo? %>
        <li>
          <%= logo %>
        </li>
      <% end %>

      <% items.each do |item| %>
        <%= item %>
      <% end %>

      <% if show_mobile_menu? %>
        <!-- Mobile Menu Button -->
        <li class="relative sm:hidden">
          <button
            type="button"
            data-navbar-target="trigger"
            data-content-id="<%= mobile_menu_content_id %>"
            aria-controls="<%= mobile_menu_content_id %>"
            aria-expanded="false"
            data-align="end"
            data-action="click->navbar#toggleMenu pointerenter->navbar#handlePointerEnter pointermove->navbar#handlePointerMove pointerleave->navbar#handlePointerLeave keydown->navbar#handleTriggerKeydown"
            data-state="closed"
            class="<%= mobile_menu_button_classes %>"
          >
            <%= hamburger_icon %>
          </button>
        </li>
      <% end %>

      <% if actions? %>
        <%= actions %>
      <% end %>
    </ul>

    <!-- Viewport Container -->
    <div
      data-navbar-target="viewport"
      data-action="pointerenter->navbar#cancelClose pointerleave->navbar#handlePointerLeave"
      data-state="closed"
      class="<%= viewport_classes %>"
    >
      <!-- Indicator Arrow -->
      <div data-navbar-target="indicator" class="<%= indicator_classes %>">
        <div class="h-2 w-2 rotate-45 border-t border-l border-neutral-200 bg-white dark:border-neutral-700 dark:bg-neutral-800"></div>
      </div>

      <div data-navbar-target="background" class="<%= background_classes %>">
        <% dropdown_contents.each do |dropdown_content| %>
          <%= dropdown_content %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
