<%= render CardComponent.new(padding: :lg, classes: "h-full border-(--divider-color)") do |card| %>
  <% card.with_body do %>
    <h4 class="mb-4"><%= plan.name %></h4>
    <p class="mb-6 text-sm/6 text-muted-foreground"><%= plan.description %></p>

    <div class="mb-6">
      <% if plan.contact_url? %>
        <span class="text-4xl font-semibold"><%= t("billing.subscriptions.plan.contact_us_price") %></span>
      <% else %>
        <span class="text-4xl font-semibold"><%= helpers.pay_amount_to_currency(plan, strip_insignificant_zeros: true) %></span>
        <span class="text-sm/6 text-muted-foreground font-semibold">
          <% if plan.unit_label? %>/ <%= plan.unit_label %><% end %>
          /<%= formatted_plan_interval(plan) %>
        </span>
      <% end %>
    </div>

    <%= content %>

    <% if plan.features.any? %>
      <div class="mt-8">
        <% plan.features.each do |plan_feature| %>
          <div class="flex mb-2 text-sm/6 text-muted-foreground">
            <%= icon "check", class: "shrink-0 mr-3 text-primary h-6 w-5" %>
            <div><%= plan_feature %></div>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
