<div class="<%= wrapper_classes %>">
  <% if @label.present? %>
    <label for="<%= @id %>" class="<%= label_classes %>">
      <%= @label %>
      <% if @required %><span class="text-red-500">*</span><% end %>
    </label>
  <% end %>

  <% if @description.present? && @label.present? %>
    <p class="<%= description_classes %> mb-2 -mt-0.5"><%= @description %></p>
  <% end %>

  <% if @grouped %>
    <%= select_tag @name,
        options_html,
        id: @id,
        include_blank: @placeholder,
        multiple: @multiple,
        disabled: @disabled,
        required: @required,
        class: select_classes,
        data: data_attributes %>
  <% else %>
    <%= select_tag @name,
        options_html,
        id: @id,
        include_blank: @placeholder,
        multiple: @multiple,
        disabled: @disabled,
        required: @required,
        class: select_classes,
        data: data_attributes %>
  <% end %>

  <% if @error.present? %>
    <p class="<%= error_classes %>"><%= @error %></p>
  <% end %>

  <% if @description.present? && @label.blank? %>
    <p class="<%= description_classes %>"><%= @description %></p>
  <% end %>
</div>
