<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<div class="mb-4 flex items-center justify-between">
  <div class="flex items-center gap-4">
    <%= account_avatar @account %>
    <h1 class="h3 text-foreground">
      <%= link_to @account.name, @account, class: "hover:text-primary" %>

      <%= icon "chevron-right", class: "inline-block size-5 text-muted-foreground" %>

      <%= @account_user.user.name %>
    </h1>
  </div>

  <% unless @account_user.account_owner? %>
    <%= button_to t("delete"), account_account_user_path(@account, @account_user), method: :delete, class: "inline-flex items-center justify-center rounded-[var(--radius)] border border-red-300/30 bg-red-600 px-3.5 py-2 text-sm font-medium text-white shadow-sm transition-all hover:bg-red-500", data: { turbo_confirm: t("are_you_sure") } %>
  <% end %>
</div>

<p class="mb-6 text-sm text-muted-foreground"><%= t(".description", user: @account_user.user.name || @account_user.user.email) %></p>

<%= render "form", account_user: @account_user %>
