<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<h1 class="h3"><%= t(".title") %></h1>

<% if account_admin?(current_account, current_user) %>
  <h2 class="mt-8 mb-4 border-b border-(--divider-color) pb-2 text-lg font-semibold text-foreground"><%= t(".subscriptions") %></h2>

  <% if @subscriptions.any? %>
    <%= render partial: "billing/subscriptions/subscription", collection: @subscriptions %>
  <% else %>
    <div class="mb-8 flex items-center gap-4">
      <div class="flex-1 text-muted-foreground"><%= t ".not_subscribed" %></div>
      <%= render ButtonComponent.new(text: t(".choose_plan"), href: pricing_path) %>
    </div>
  <% end %>

  <%= render partial: "email" %>
  <%= render partial: "info" %>
  <%= render partial: "charges" %>
<% else %>
  <p class="text-muted-foreground"><%= t(".contact_admin", account: current_account.name) %></p>
<% end %>
