<details class="<%= section_classes %>" <%= default_open ? "open" : "" %>>
  <summary class="<%= summary_classes %>" data-no-hover-bg="true" data-no-contents-gap="true">
    <div class="flex w-full items-center justify-start gap-1 text-neutral-500 dark:text-neutral-400">
      <h2><%= title %></h2>
      <%= icon "chevron-right", class: "size-2.5 opacity-0 transition-all duration-200 group-hover/options:opacity-100 group-open/options:rotate-90" %>
    </div>
  </summary>
  <div>
    <% items.each do |item| %>
      <%= item %>
    <% end %>
    <%= content %>
  </div>
</details>
