<%= tag.div class: "z-10 inline-flex items-center align-middle leading-none rounded-sm no-underline",
  data: {
    controller: "notifications",
    notifications_account_id_value: current_account.id,
    notifications_account_unread_value: @notification_counts[current_account.id],
    notifications_total_unread_value: @notification_counts.values.sum,
  } do %>
  <%= render DropdownComponent.new(placement: "bottom-end", width: "w-96") do |dropdown| %>
    <% dropdown.with_trigger do %>
      <%# Marks all notifications as read when the menu opens. %>
      <%= tag.button type: "button",
        class: "inline-flex select-none items-center justify-center rounded-sm p-2 text-foreground hover:bg-muted focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-ring",
        aria: {label: "Notifications", haspopup: "menu"},
        data: {
          ui_dropdown_popover_target: "button",
          action: "click->notifications#open click->ui-dropdown-popover#toggle"
        } do %>
        <span class="relative flex appearance-none items-center">
          <%= icon "bell", class: "size-6" %>
          <span data-notifications-target="badge" class="absolute top-0 right-0 hidden size-2 translate-x-1/2 -translate-y-1/2 rounded-full bg-red-500 text-white shadow-solid"></span>
        </span>
      <% end %>
    <% end %>

    <% dropdown.with_item_custom(unstyled: true) do %>
      <%= turbo_frame_tag "notifications", class: "block text-sm divide-y divide-(--divider-color)", loading: :lazy, target: :_top, src: nav_notifications_path, data: {notifications_target: "list"} do %>
        <%= render LoadingIndicatorComponent.new(text: t("notifications.loading"), classes: "p-4") %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
