<!DOCTYPE html>
<html lang="en">
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "tailwind", media: "all", "data-turbo-track": "reload" %>
    <%= yield :head %>
  </head>
  <body class="bg-background p-6 text-foreground">
    <%= yield %>
  </body>
</html>
