<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", media: "all" %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap">
  </head>

  <body>
    <header>
      <%= link_to root_path do %>
        <%= render_svg "logo", class: "h-6" %>
        <span class="sr-only"><%= Jumpstart.config.application_name %></span>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>
  </body>
</html>
