<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<h1 class="h3">
  <%= link_to t("accounts.index.title"), accounts_path, class: "hover:text-primary" %>

  <%= icon "chevron-right", class: "inline-block size-5 text-muted-foreground" %>

  <%= t(".title") %>
</h1>

<div class="mt-2 mb-8 text-sm text-muted-foreground"><%= t(".description") %></div>

<%= render "form", account: @account %>
