<% Current.meta_tags.set(title: @account.name) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<div class="sm:flex items-center justify-between mb-5">
  <div class="flex items-center gap-4">
    <%= account_avatar @account %>
    <h1 class="h3"><%= @account.name %></h1>
  </div>

  <div class="shrink-0 mt-3 sm:mt-0 sm:text-right">
    <%= switch_account_button @account, label: t(".switch"), class: "inline-flex items-center justify-center gap-1.5 font-medium whitespace-nowrap transition-all duration-100 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 disabled:cursor-not-allowed disabled:opacity-50 px-3.5 py-2 text-sm rounded-[var(--radius)] border border-black/10 bg-white/90 text-neutral-800 shadow-xs hover:bg-muted focus-visible:outline-neutral-600 dark:border-white/10 dark:bg-neutral-700/50 dark:text-neutral-50 dark:hover:bg-neutral-700/75 dark:focus-visible:outline-neutral-200", form_class: "inline-block" unless current_account == @account %>
    <%= render ButtonComponent.new(text: t(".edit_account"), variant: :secondary, href: edit_account_path(@account)) if !@account.personal? && account_admin?(@account, current_user) %>
  </div>
</div>

<% if @account.personal? %>
  <%= render AlertComponent.new(title: t(".personal_team_description"), variant: :info) %>
<% else %>
  <%= render TableComponent.new(hoverable: true) do |table| %>
    <% table.with_column(label: AccountUser.human_attribute_name(:user)) %>
    <% table.with_column(label: AccountUser.human_attribute_name(:email)) %>
    <% table.with_column(label: AccountUser.human_attribute_name(:roles)) %>
    <% table.with_column(label: "") %>
    <% table.with_column(label: "", align: :right) %>

    <% @account.account_users.includes(:user).each do |account_user| %>
      <% user = account_user.user %>
      <% table.with_row do |row| %>
        <% row.with_cell(primary: true) do %>
          <div class="flex items-center gap-2">
            <%= render AvatarComponent.new(src: avatar_url_for(user), alt: user.name || user.email, size: :xs, classes: "hidden lg:inline-flex") %>
            <span>
              <%= user.name || user.email %>
              <% if Current.user == user %>
                (<%= t ".you" %>)
              <% end %>
            </span>
          </div>
        <% end %>
        <% row.with_cell do %>
          <%= user.email %>
        <% end %>
        <% row.with_cell do %>
          <%= account_user_roles(@account, account_user).join(", ") %>
        <% end %>
        <% row.with_cell do %>
          <% if user.otp_required_for_login? %>
            <div class="flex gap-1 items-center">
              <%= icon "shield-check", class: "size-5 inline-block" %>
              <%= tag.span t(".2fa") %>
            </div>
          <% end %>
        <% end %>
        <% row.with_cell(align: :right) do %>
          <%= render ButtonComponent.new(text: t(".edit"), variant: :secondary, size: :sm, href: edit_account_account_user_path(@account, account_user)) if account_admin?(@account, current_user) %>
        <% end %>
      <% end %>
    <% end %>

    <%# Invitations %>
    <% @account.account_invitations.each do |account_invitation| %>
      <% table.with_row do |row| %>
        <% row.with_cell(primary: true) do %>
          <div class="flex items-center gap-2">
            <%= render AvatarComponent.new(src: avatar_url_for(account_invitation), alt: account_invitation.name, size: :xs, classes: "hidden lg:inline-flex") %>
            <%= account_invitation.name %>
            <%= render BadgeComponent.new(text: t(".awaiting_response"), size: :sm) %>
          </div>
        <% end %>
        <% row.with_cell do %>
          <%= account_invitation.email %>
        <% end %>
        <% row.with_cell do %>
          <%= account_user_roles(@account, account_invitation).join(", ") %>
        <% end %>
        <% row.with_cell do %>
        <% end %>
        <% row.with_cell(align: :right) do %>
          <div class="flex gap-2 justify-end">
            <%= button_to t(".resend_invite"), resend_account_account_invitation_path(@account, account_invitation), class: "inline-flex items-center justify-center gap-1.5 font-medium whitespace-nowrap transition-all duration-100 ease-in-out select-none focus-visible:outline-2 focus-visible:outline-offset-2 disabled:cursor-not-allowed disabled:opacity-50 px-3.5 py-2 text-sm rounded-[var(--radius)] border border-black/10 bg-white/90 text-neutral-800 shadow-xs hover:bg-muted focus-visible:outline-neutral-600 dark:border-white/10 dark:bg-neutral-700/50 dark:text-neutral-50 dark:hover:bg-neutral-700/75 dark:focus-visible:outline-neutral-200" if account_admin?(@account, current_user) %>
            <%= render ButtonComponent.new(text: t(".copy_link"), variant: :secondary, size: :sm, data: {controller: "clipboard", clipboard_text: account_invitation_url(account_invitation)}) if account_admin?(@account, current_user) %>
            <%= render ButtonComponent.new(text: t(".edit"), variant: :secondary, size: :sm, href: edit_account_account_invitation_path(@account, account_invitation)) if account_admin?(@account, current_user) %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= render ButtonComponent.new(text: t(".invite"), variant: :secondary, href: new_account_account_invitation_path(@account), classes: "mt-2") if !@account.personal? && account_admin?(@account, current_user) %>
<% end %>
